body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 100px;
  margin-top: 10px;
}

@media screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 50%;
    height: 50%;
  }
}

.link {
  text-decoration: none;
  border: 2px solid black;
  text-align: center;
  padding: 2rem;
  color: white;
  background-color: #252a3a;
  margin-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
